/* line 4, ../scss/web.scss */
body {
  color: #333;
  line-height: 1.5;
  background-color: #FFF;
}

/* line 10, ../scss/web.scss */
.modal-dialog {
  background-color: #FEFEFE;
  -webkit-box-shadow: black 0 0 25px, rgba(0, 0, 0, 0.2) 0 0 3px 1px inset;
  -moz-box-shadow: black 0 0 25px, rgba(0, 0, 0, 0.2) 0 0 3px 1px inset;
  box-shadow: black 0 0 25px, rgba(0, 0, 0, 0.2) 0 0 3px 1px inset;
  z-index: 10000;
  position: absolute;
}

/* line 17, ../scss/web.scss */
.modal-dialog-bg {
  background-color: #000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
